*{
    background-color: hsl(0, 2%, 75%);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    line-height: 30px;
    box-sizing: border-box;
   
}

h1{
    text-align: center;
    height: 5em;
    font-size: 3rem;
    margin: 0;
    padding: 100px;
}

.description{
    width: 100%;
    font-size: large;
    border: solid 3px black;
    padding:10px;
    border-radius: 10px;
}

header{
    display: flex;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;

}

table{
    width: 100%;
  
}

th{
    border: 2px solid black;
    background-color: orange;
    border-radius: 10px;
    padding: 10px;
   
    
}
.navbar{
    color: black;
    background-color: orange;
}

.navbar:hover{
    color:white;
    transform: scale(1.2);
}

.left{
    float: left;
    
}
.right{
    float: right;
}
.clear{
    clear: both;
}
img{
    margin:20px;
    border: 2px solid black;
}